.button {
  background-color: transparent;
  width: 100%;
  border: 1px solid white;
  border-radius: 12px;
  padding: 12px;
  font-family: 'Inter';
  font-weight: 400;
  color: white;
  font-size: 12px;
}

.button:hover {
  cursor: pointer;
}

@media (max-width: 992px) {
  .button {
    padding: 10px;
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .button {
    padding: 8px;
    font-size: 11px;
    border-radius: 8px;
  }
}
